## LAGOS TRAFFIC DATA _ BUSY ROADS

### Import Required Libraries

In [1]:
# importing required libraries
import requests, json
import googlemaps
from bs4 import BeautifulSoup
import pandas as pd

# Import datetime class from datetime module
from datetime import datetime, date
import time

#Import dependencies required to read google sheet
import os
from Google import Create_Service

#Import dependencies required to interact with google sheet
import gspread
from gspread_dataframe import set_with_dataframe
from google.oauth2.service_account import Credentials
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive

#BingAPI key
import bing_key as bk

### 2) Read Coordinates of Selected Location from gzGeocode GOOGLESHEETS

#### Option A - Read Directly From the Online(GoogleDrive) File

The file is available on GoogleDrive as the service that allows to generate coordinates of inputted location is an add-in on the GoogleSheets tool.

In [ ]:
#Read location coordinates from googlesheets (Geocode extension)

CLIENT_SECRET_FILE = 'client_secret1.json'
API_NAME = 'sheets'
API_VERSION = 'v4'
SCOPES = ['https://www.googleapis.com/auth/spreadsheets']

service = Create_Service(CLIENT_SECRET_FILE, API_NAME, API_VERSION, SCOPES)

spreadsheet_id = '134B8kr374Wi5BuqhIdPDCijs6K8aYzBKkEr5zW9vAG4'
sheet_id = '44602522'

response = service.spreadsheets().values().get(
    spreadsheetId=spreadsheet_id,
    majorDimension='ROWS',
    range='Sheet1!A1:F30'
).execute()
print(response)

#### Option B - Download the File and Read from a Local Directory or From a Direct Address URL.

In [2]:
#Format the coordinates data into dataframe
coordinates_file = pd.read_excel('Geocode_details.xlsx')

#convert to dataframe
coordinates = coordinates_file[["Place", "Coordinates"]].set_index('Place').to_dict()['Coordinates']
coord_list = {a:coordinates[a].replace(', ',',') for a in list(coordinates.keys())}
coord_list['festac']

'6.4702531,3.2818048'

In [3]:
# Declare variable names for each location identified in the coordinates file
festac = coord_list['festac']
ikoyi = coord_list['ikoyi']
lekki = coord_list['lekki']
apapa = coord_list['apapa']
lagos_island = coord_list['lagos_island']
ikeja = coord_list['ikeja']
yaba = coord_list['yaba']
surulere = coord_list['surulere']
alaba = coord_list['alaba']
oshodi = coord_list['oshodi']
ketu_ojota = coord_list['ketu_ojota']
alagbado = coord_list['alagbado']
ikorodu = coord_list['ikorodu']
ojodu = coord_list['ojodu']
oworo = coord_list['oworo']
ajah = coord_list['ajah']
gbagada = coord_list['gbagada']
agege = coord_list['agege']
ojoo_iba = coord_list['ojoo_iba']
ikotun = coord_list['ikotun']
badagry = coord_list['badagry']
abule_egba = coord_list['abule_egba']
ipaja = coord_list['ipaja']
idiaraba = coord_list['idiaraba']
VI = coord_list['VI']

### 3) Fetch Distance-Time_Travel Data from BingMaps API

#### 3.1) Set-up the API URL

In [4]:
#BingMaps Key
bingmaps_api_key = bk.map_key

#Construct the URL as required by the API
url = f'https://dev.virtualearth.net/REST/v1/Routes/DistanceMatrix?\
origins={festac};{ikoyi};{lekki};{apapa};{lagos_island};{ikeja};{yaba};{surulere};{alaba};{oshodi};{ketu_ojota};{alagbado};\
{ikorodu};{ojodu};{oworo};{ajah};{gbagada};{agege};{ojoo_iba};{ikotun};{badagry};{abule_egba};{ipaja};{idiaraba};{VI}\
&destinations={festac};{ikoyi};{lekki};{apapa};{lagos_island};{ikeja};{yaba};{surulere};{alaba};{oshodi};{ketu_ojota};{alagbado};\
{ikorodu};{ojodu};{oworo};{ajah};{gbagada};{agege};{ojoo_iba};{ikotun};{badagry};{abule_egba};{ipaja};{idiaraba};{VI}\
&travelMode=driving&key={bingmaps_api_key}'

print(url)

https://dev.virtualearth.net/REST/v1/Routes/DistanceMatrix?origins=6.4702531,3.2818048;6.4441991,3.4271887;6.4478093,3.4723495;6.4436172,3.3664707;6.4571606,3.3841554;6.578997,3.3494666;6.515759,3.3898447;6.4926317,3.3489671;6.4633507,3.324884;6.535498,3.3086778;6.5873161,3.3785711;6.6584403,3.2633918;6.6194131,3.5104537;6.6470273,3.3741647;6.5536278,3.4006205;6.4645874,3.5725244;6.552517,3.3871859;6.6179731,3.3208916;6.4696511,3.2008727;6.5630684,3.2505651;6.4136764,2.8972858;6.6392905,3.2961968;6.6130699,3.2659066;6.5176223,3.3537453;6.4280556,3.4219444&destinations=6.4702531,3.2818048;6.4441991,3.4271887;6.4478093,3.4723495;6.4436172,3.3664707;6.4571606,3.3841554;6.578997,3.3494666;6.515759,3.3898447;6.4926317,3.3489671;6.4633507,3.324884;6.535498,3.3086778;6.5873161,3.3785711;6.6584403,3.2633918;6.6194131,3.5104537;6.6470273,3.3741647;6.5536278,3.4006205;6.4645874,3.5725244;6.552517,3.3871859;6.6179731,3.3208916;6.4696511,3.2008727;6.5630684,3.2505651;6.4136764,2.8972858;6.6392905,3.2961968;6.6130699,3.2659066;6.5176223,3.3537453;6.4280556,3.4219444&travelMode=driving&key=Anr-ZjjbdL-QNuu2BZ9jvFfN4VmeIClsBinJOjqeOzZRNuQ5J1NddYKdyxLc0vji

#### 3.2) Send a Request to the API

In [5]:
#Send the request and Store data
resp = requests.get(url)
result = resp.content

# Use the json module to load response into a dictionary.
response_dict = json.loads(result)

data = response_dict['resourceSets'][0]['resources'][0]['results']#[]

#### 3.3) Store the Data into a Dataframe and Create a Timestamp Column

In [6]:
#Convert data to dataframe and format
df = pd.DataFrame(data)
#df.drop(['totalWalkDuration'], axis=1)
df = df[['destinationIndex', 'originIndex', 'travelDistance', 'travelDuration']]

#Add date/time columns
df['Time'] = datetime.now().strftime("%H:%M:%S")
df['Date'] = date.today()
df.head()

,destinationIndex,originIndex,travelDistance,travelDuration,Time,Date
0,0,0,0.000,0.0000,12:28:56,2023-08-18
1,1,0,23.499,22.8667,12:28:56,2023-08-18
2,2,0,30.025,29.6833,12:28:56,2023-08-18
3,3,0,15.615,15.6833,12:28:56,2023-08-18
4,4,0,18.670,19.2667,12:28:56,2023-08-18

#### 3.4) Change the ```Origin``` and ```Destination``` from index Codes to Real Names

##### 3.4.1) Create a Mapping Dictionary -> {index:name}

In [9]:
#form dictionary to map destination and origin index in the API result
location_mapping = coordinates_file['Place'].to_dict()

##### 3.4.2) Map the index with the Real Location Names and Rearrange columns

In [10]:
#lookup the names with the index values in the API result
df['origin'] = df['originIndex'].map(location_mapping)
df['destination'] = df['destinationIndex'].map(location_mapping)

#drop the destination and origin index columns
df.drop(['originIndex','destinationIndex'], axis=1, inplace=True)

#Rearrange columns
df = df[['origin','destination','travelDistance','travelDuration','Date','Time',]]

#Rename columns
df.columns = ['origin','destination','travelDistance(km)','travelDuration(mins)','Date','Time',]

#view result
df.head()

,origin,destination,travelDistance(km),travelDuration(mins),Date,Time
0,festac,festac,0.000,0.0000,2023-08-18,12:28:56
1,festac,ikoyi,23.499,22.8667,2023-08-18,12:28:56
2,festac,lekki,30.025,29.6833,2023-08-18,12:28:56
3,festac,apapa,15.615,15.6833,2023-08-18,12:28:56
4,festac,lagos_island,18.670,19.2667,2023-08-18,12:28:56

#### 3.6) Clean and Format Data for Appending to Google Drive Storage

In [11]:
#format column data types
df[df['travelDistance(km)']>0]
df['travelDuration(mins)'] = df['travelDuration(mins)'].astype('int')
df['travelDistance(km)'] = df['travelDistance(km)'].astype('int')
df['Date'] = df['Date'].astype('str')

#drop rows with 'travelDistance' = 0
df = df[df['travelDistance(km)']!=0]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 600 entries, 1 to 623
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   origin                600 non-null    object
 1   destination           600 non-null    object
 2   travelDistance(km)    600 non-null    int32
 3   travelDuration(mins)  600 non-null    int32
 4   Date                  600 non-null    object
 5   Time                  600 non-null    object
dtypes: int32(2), object(4)
memory usage: 28.1+ KB

In [12]:
df.head()

,origin,destination,travelDistance(km),travelDuration(mins),Date,Time
1,festac,ikoyi,23,22,2023-08-18,12:28:56
2,festac,lekki,30,29,2023-08-18,12:28:56
3,festac,apapa,15,15,2023-08-18,12:28:56
4,festac,lagos_island,18,19,2023-08-18,12:28:56
5,festac,ikeja,25,21,2023-08-18,12:28:56

### 4) Create and Configure a Googlesheet file ---```Optional```

This project uses an created a GoogleSheet in chosen Drive location once, during the launch. This section will not be included during production.

In [ ]:
"""
To specify Google Sheets file basic settings and as well as configure default worksheets
"""
sheet_body = {
    'properties': {
        'title': 'Lagos Traffic Data',
        'locale': 'en_US', # optional
        'autoRecalc': 'ON_CHANGE', # calculation setting #https://developers.google.com/sheets/api/reference/rest/v4/spreadsheets#RecalculationInterval
        'timeZone': 'America/Los_Angeles'
        }
    ,
    'sheets': [
        {
            'properties': {
                'title': 'Page_1'
            }
        },
        {
            'properties': {
                'title': 'Page_2'
            }
        }
    ]
}

sheets_file1 = service.spreadsheets().create(body=sheet_body).execute()

# dict_keys(['spreadsheetId', 'properties', 'sheets', 'spreadsheetUrl'])
print(sheets_file1)

print(sheets_file1['spreadsheetUrl'])
print(sheets_file1['spreadsheetId'])
# print(sheets_file1['sheets'])
# print(sheets_file1['properties']) # Google Sheets information

### 5) Append the Traffic Data to the GoogleSheet page Using `gspread` Library

In [15]:
#Define the scopes
scopes = ['https://www.googleapis.com/auth/spreadsheets','https://www.googleapis.com/auth/drive']

#Create credentials
credentials = Credentials.from_service_account_file('maps_project_secret_keys.json', scopes=scopes)

#Initialize gspread with created credentials
gc = gspread.authorize(credentials)

#
gauth = GoogleAuth()
drive = GoogleDrive(gauth)

#
testsheet_key = '1jFiCMs6YdH-WPifPcuae3dxfJagDcxSjzCBzhCGbLiU'
sheetid = '5865198'

# Open a google sheet
#gs = gc.open_by_key(sheets_file1['spreadsheetId'])
gs = gc.open_by_key(testsheet_key)

#Append

#sds
df_values = [df.columns.values.tolist()] + df.values.tolist()

#sds
gs.values_append('Page_1', {'valueInputOption': 'RAW'}, {'values': df_values})

{'spreadsheetId': '1jFiCMs6YdH-WPifPcuae3dxfJagDcxSjzCBzhCGbLiU',
 'updates': {'spreadsheetId': '1jFiCMs6YdH-WPifPcuae3dxfJagDcxSjzCBzhCGbLiU',
  'updatedRange': 'Page_1!A1:F601',
  'updatedRows': 601,
  'updatedColumns': 6,
  'updatedCells': 3606}}

In [17]:
#Reading data from Googlesheets using pandas
import pandas as pd

sheet_id = '1jFiCMs6YdH-WPifPcuae3dxfJagDcxSjzCBzhCGbLiU'
sheet_name = 'Page_1'
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSSoujMBdosA9vRiAY_rQPJjuMPGOww6POCtaVdWpc1scAklGhYGk_6243ux7Sj9KK2mQJ598W9bL1V/pub?output=xlsx'

pd.read_excel(url)

,origin,destination,travelDistance(km),travelDuration(mins),Date,Time
0,festac,ikoyi,23,22,2023-08-18,12:28:56
1,festac,lekki,30,29,2023-08-18,12:28:56
2,festac,apapa,15,15,2023-08-18,12:28:56
3,festac,lagos_island,18,19,2023-08-18,12:28:56
4,festac,ikeja,25,21,2023-08-18,12:28:56
...,...,...,...,...,...,...
595,VI,ikotun,32,35,2023-08-18,12:28:56
596,VI,badagry,72,56,2023-08-18,12:28:56
597,VI,abule_egba,37,32,2023-08-18,12:28:56
598,VI,ipaja,36,34,2023-08-18,12:28:56
599,VI,idiaraba,16,16,2023-08-18,12:28:56

In [16]:
#Reading data from Googlesheets using gspread
import gspread as gs
import pandas as pd

gc = gs.service_account(filename='maps_project_secret_keys.json')
sh = gc.open_by_url('https://docs.google.com/spreadsheets/d/1jFiCMs6YdH-WPifPcuae3dxfJagDcxSjzCBzhCGbLiU/edit?usp=sharing')

ws = sh.worksheet('Page_1')
df = pd.DataFrame(ws.get_all_records())
df.head()

,origin,destination,travelDistance(km),travelDuration(mins),Date,Time
0,festac,ikoyi,23,22,2023-08-18,12:28:56
1,festac,lekki,30,29,2023-08-18,12:28:56
2,festac,apapa,15,15,2023-08-18,12:28:56
3,festac,lagos_island,18,19,2023-08-18,12:28:56
4,festac,ikeja,25,21,2023-08-18,12:28:56

### REFERENCES

- [Working with GoogleSheets in Python - A Playlist](https://learndataanalysis.org/creating-google-sheets-file-google-sheets-api-in-python-part-1/)

- [Appending Data to GoogleSheets - gspread](https://medium.com/@jb.ranchana/write-and-append-dataframes-to-google-sheets-in-python-f62479460cf0)

- [Reading Data From GoogleSheets Using Pandas](https://pythoninoffice.com/how-to-read-google-sheet-into-pandas/#google_vignette)

- [Reading Data From GoogleSheets Using gspread module](https://practicaldatascience.co.uk/data-science/how-to-read-google-sheets-data-in-pandas-with-gspread)

In [ ]:
#!pip install gspread
#!pip install gspread_dataframe --quiet